{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Welcome to Yang Hồ-Tử hàn 2</h1>
        <img src="https://serving.photos.photobox.com/579043161dee4cc478bd46d08dd9ea9481b50c1427a9a77ef150fd3edbc56a73bd2ca474.jpg" alt="Example Image" >
        <h3 style="margin:0">Nhập tên phong cách, tag như hình trên để tìm kiếm. Nếu nhiều phong cách, tag hãy viết phong cách trước, tag sau</h3>

        <h3 style="margin:0">Ví dụ:</h3>
        <h4 style="margin:0">Tìm theo phong cách: c.quý</h4>
        <h4 style="margin:0">Tìm theo tag: hí.p</h4>
        <h4 style="margin:0">Tìm theo 2 phong cách: c.quý_d.thương</h4>
        <h4 style="margin:0">Tìm theo 2 phong cách, tag: c.quý_d.thương_sứ nữ</h4>
        {% comment %} <h3 style="margin:0">You have <i>{{count}}</i> item{{ count|pluralize:"s" }}</h3> {% endcomment %}
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<div id="search-add-wrapper">
    {% comment %} <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Nhập phong cách, tag" value="{{search_input}}">
        <input id="search-button" class="button" type="submit" value='Tìm kiếm'>
    </form> {% endcomment %}
    {% comment %} {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    {% endif %} {% endcomment %}
    <h1>Clothing</h1>
    <form method="get">
      <p>
        <label>Tags:</label>
      </p>
      <div id="tags">
        <div>
            <label for="tags_0">
                <input type="checkbox" name="tags" value="d.thương, c.quý" id="tags_0">d.thương, c.quý
            </label>
        </div>
        <div>
            <label for="tags_4">
                <input type="checkbox" name="tags" value="d.thương" id="tags_4">d.thương
            </label>
        </div>
        <div>
            <label for="tags_1">
                <input type="checkbox" name="tags" value="c.quý" id="tags_1">c.quý
            </label>
        </div>
        <div>
            <label for="tags_2">
                <input type="checkbox" name="tags" value="n.nhàng" id="tags_2">n.nhàng
            </label>
        </div>
        <div>
            <label for="tags_3">
                <input type="checkbox" name="tags" value="t.thống" id="tags_3">t.thống
            </label>
        </div>

      </div>
      <p></p>
      <input type="submit" value="Search"><br>
    </form>
    <ul>
    {% for item in items %}
      <li>{{ item }}</li>
    {% empty %}
      <li>No items found</li>
    {% endfor %}
    </ul>
</div>


<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title" style="font-weight:bold; padding-left: 40px;">
            {{task}}
        </div>
        {% comment %} <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div> {% endcomment %}
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });


    {% comment %} document.addEventListener("DOMcontentLoaded", function(event) {

            var tasklist = document.getElementById("tasklist");
            tasklist.classList.add("hidden");
        }); {% endcomment %}
            // Lắng nghe sự kiện ấn nút tìm kiếm
    document.getElementById("search-button").addEventListener("click", function() {
            var tasklist = document.getElementById("tasklist");
            tasklist.classList.remove("hidden");
            });




    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering

</script>

{% endblock content %}