{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Welcome to Yang Hồ-Tử hàn 2</h1>
        <h1>Mình là ChoiYena chơi Apps</h1>
        <img src="https://serving.photos.photobox.com/579043161dee4cc478bd46d08dd9ea9481b50c1427a9a77ef150fd3edbc56a73bd2ca474.jpg" alt="Example Image" >
        <h3 style="margin:0">Nhập tên phong cách, tag y hệt như hình trên để tìm kiếm. Nhiều phong cách, tag thì ngăn cách nhau bằng dấu phẩy</h3>

        <h3 style="margin:0">Ví dụ: tây.p, d.thương, c.quý</h3>


        {% comment %} <h3 style="margin:0">You have <i>{{count}}</i> item{{ count|pluralize:"s" }}</h3> {% endcomment %}
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<div id="search-add-wrapper">

    <h3>Tìm kiếm trang phục trong lưu quang điện, lạc tinh viện</h3>

    <form method="GET" action="{% url 'task_list' %}">
        <label for="tags">Nhập Phong cách, Tags:</label>
        <input type="text" id="tags" name="tags">
        <button type="submit">Tìm Kiếm</button>
    </form>

    {% if items %}
        {% if messages %}
        {% for message in messages %}
            <h4 style="color: blue;">{{ message }}</h4>
        {% endfor %}
        {% endif %}
        <ul>
            {% for item in items %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            <nav>
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if request.GET.tags %}&tags={{ request.GET.tags }}{% endif %}">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.tags %}&tags={{ request.GET.tags }}{% endif %}">Previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.tags %}&tags={{ request.GET.tags }}{% endif %}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.tags %}&tags={{ request.GET.tags }}{% endif %}">Last</a>
                {% endif %}
            </nav>
        {% endif %}
    {% else %}
    <h4 style="color: red;">Không có trang phục có phong cách: {{ request.GET.tags }}</h4>
    {% endif %}
</div>


<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>




<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });






    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering

</script>

{% endblock content %}